html {
  background-color: #dbd6cf;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #79756f;
  font-family: Bevan;
  font-weight:normal;
  color: #fff;
  margin: .3em;   /* comment this line out to remove spacing along edges */
  padding: .6em .5em .75em;
  font-size: 2.5rem;
  line-height: 1.5em;
  border-top: 5px solid #595652;
  border-bottom: 5px solid #595652;
}

nav ul{
  text-align: center;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  color: #fff
}

li{
  display:inline-block;
  padding:.6em .5em .75em;
  font-size: 1.25rem;
  line-height: 1.5em;
  text-decoration:none;
  font-family: sans-serif;
  font-weight: normal;
  color: #dbd6cf;
  background-color: #713837;
  text-align: center;
  border-radius: 5px;
}

.button:hover{
  background-color: #f33;
  color: #dbd6cf;
}
